<app-article
  backgroundImage="/assets/images/testimonials-bg-img.png"
  testAttribute="app-home__testimonials"
  leftClasses="slide-from-left invisible"
  leftId="testimonials-left"
  rightClasses="slide-from-right invisible"
  rightId="testimonials-right"
>
  <app-article-left>
    <img
      src="assets/images/testimonials-lft-bg-img.png"
      alt=""
      class="testimonials__img"
    />
  </app-article-left>
  <app-article-right>
    <app-icon
      src="assets/images/quote-icon.png"
      alt=""
      size="normal"
    ></app-icon>
    <app-secondary-heading class="testimonials__heading">
      Trusted from our <b class="testimonials__heading__highlight">clients</b>
    </app-secondary-heading>
    <app-testimonials-slideshow></app-testimonials-slideshow>
  </app-article-right>
</app-article>
