<header class="header">
  <div
    class="header__content slide-from-left"
    id="header-animation-left"
    data-text="animated-element"
  >
    <h1 class="header__content__title" data-test="home-banner__title">
      <span>We're</span>{{ " " }}<span>Design Trend</span>{{ " "
      }}<span>Creators.</span>
    </h1>
    <p class="header__content__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <app-primary-button
      dataAttribute="home-banner__cta"
      href="/services#prices"
      text="Get Started Now"
    ></app-primary-button>
    <div aria-hidden class="header__content__number">01<b>.</b></div>
  </div>
  <figure class="header__content slide-from-right" id="header-animation-right">
    <div class="header__content__img-container">
      <img
        src="/assets/images/banner-right-img.jpg"
        alt="Curly haired woman talking on phone in office"
      />
      <div
        aria-hidden
        class
        class="header__content__img-container__overlay"
      ></div>
    </div>
    <figcaption
      class="header__content__caption pop-up-from-right"
      id="header-animation-popup"
    >
      Actions for <strong>Accessibility</strong> in Design.
    </figcaption>
  </figure>
</header>
