@import "../../../style/variables.scss";

.secondary-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: $black-color;
  font-family: Jost;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .secondary-heading {
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 989px) {
  .secondary-heading {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .secondary-heading {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 440px) {
  .secondary-heading {
    font-size: 25px;
    line-height: 25px;
  }
}
