<app-article
  contentBackgroundImage="/assets/images/solution-box-bg-img.png"
  testAttribute="app-home__solutions"
  leftClasses="slide-from-left invisible"
  leftId="solutions-left"
  rightClasses="slide-from-right invisible"
  rightId="solutions-right"
  contentClasses="fade-in invisible"
  contentId="solutions-content"
>
  <app-article-left>
    <app-card [rounded-tl]="false">
      <img src="assets/images/digital-solutions-left-img.jpg" alt="" />
    </app-card>
  </app-article-left>
  <app-article-right>
    <app-icon
      size="normal"
      src="assets/images/solution-box-right-img.png"
      id="solutions-icon"
    ></app-icon>
    <app-secondary-heading>
      Digital solutions for your business
    </app-secondary-heading>
    <app-primary-paragraph>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </app-primary-paragraph>
    <app-primary-button text="Learn More" class="light"></app-primary-button>
  </app-article-right>
</app-article>
