<app-home-banner></app-home-banner>
<app-article
  contentBackgroundImage="/assets/images/solution-box-bg-img.png"
  testAttribute="app-home-ds"
>
  <app-article-left>
    <app-secondary-heading> Digital solutions </app-secondary-heading>
    <app-secondary-paragraph>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </app-secondary-paragraph>
  </app-article-left>
  <app-article-right>
    <app-icon
      size="normal"
      src="/assets/images/solution-box-right-img.png"
      size="normal"
      ngClass="fade-in"
      id="something"
    ></app-icon>
    <app-secondary-heading>
      Digital solutions for your business
    </app-secondary-heading>
    <app-primary-paragraph>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </app-primary-paragraph>
    <app-primary-button text="Learn More" class="light"></app-primary-button>
  </app-article-right>
</app-article>
