<footer class="main-footer">
  <section class="main-footer__content">
    <div class="main-footer__content__info">
      <img
        src="assets/images/logo-img.png"
        alt="Dezvu logo"
        class="main-footer__content__info__logo"
      />
      <app-secondary-paragraph class="main-footer__content__info__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tem por incididunt ut labore et dolore magn a aliquauis ipsum
        suspendisse ultrices gravidarisus commodo.
      </app-secondary-paragraph>
      <div class="main-footer__content__info__social">
        <a href="#" class="main-footer__content__info__social__link">
          <img src="assets/images/facebook-icon.svg" alt="Facebook logo" />
        </a>
        <a href="#" class="main-footer__content__info__social__link">
          <img src="assets/images/google-icon.svg" alt="Google logo" />
        </a>
        <a href="#" class="main-footer__content__info__social__link">
          <img src="assets/images/twitter-icon.svg" alt="Twitter logo" />
        </a>
        <a href="#" class="main-footer__content__info__social__link">
          <img src="assets/images/reddit-icon.svg" alt="Reddit logo" />
        </a>
        <a href="#" class="main-footer__content__info__social__link">
          <img src="assets/images/pinterest-icon.svg" alt="Pinterest logo" />
        </a>
      </div>
    </div>
    <div class="main-footer__content__quick-links">
      <app-primary-subheading>Quick Links</app-primary-subheading>
      <ul class="main-footer__content__quick-links__list">
        <li class="main-footer__content__quick-links__link">
          <img src="assets/images/chev.svg" alt="" />
          <a href="#">Home</a>
        </li>
        <li class="main-footer__content__quick-links__link">
          <img src="assets/images/chev.svg" alt="" />
          <a href="#">About</a>
        </li>
        <li class="main-footer__content__quick-links__link">
          <img src="assets/images/chev.svg" alt="" />
          <a href="#">Services</a>
        </li>
        <li class="main-footer__content__quick-links__link">
          <img src="assets/images/chev.svg" alt="" />
          <a href="#">Portfolio</a>
        </li>
        <li class="main-footer__content__quick-links__link">
          <img src="assets/images/chev.svg" alt="" />
          <a href="#">Quote</a>
        </li>
      </ul>
    </div>
    <div class="main-footer__content__contact-info">
      <app-primary-subheading>Contact Info</app-primary-subheading>
      <dl class="main-footer__content__contact-info__list">
        <dt>Address:</dt>
        <dd>121 King Street Melbourne, 3000, Australia</dd>
        <dt>Email:</dt>
        <dd>support@dezvu.com</dd>
        <dt>Phone:</dt>
        <dd>+1 23 45 6789</dd>
      </dl>
    </div>
    <div class="main-footer__content__newsletter">
      <app-primary-subheading>Newsletter</app-primary-subheading>
      <app-secondary-paragraph class="main-footer__content__newsletter__text">
        Stay always in touch! Subscribe to our newsletter.
      </app-secondary-paragraph>
      <input
        type="email"
        placeholder="Email"
        class="main-footer__content__newsletter__input"
      />
      <app-primary-button
        text="Subscribe"
        class="light"
        size="small"
      ></app-primary-button>
    </div>
  </section>
  <section class="main-footer__nav">
    <ul class="main-footer__nav__list">
      <li class="main-footer__nav__list__link">
        <a href="#">Home</a>
      </li>
      <li class="main-footer__nav__list__link">
        <a href="#">Terms</a>
      </li>
      <li class="main-footer__nav__list__link">
        <a href="#">Privacy</a>
      </li>
      <li class="main-footer__nav__list__link">
        <a href="#">Company</a>
      </li>
      <li class="main-footer__nav__list__link">
        <a href="#">Support</a>
      </li>
    </ul>
    <app-secondary-paragraph class="main-footer__nav__text">
      Copyright 2023 Dezvu.com All Rights Reserved
    </app-secondary-paragraph>
  </section>
</footer>
