<app-article
  testAttribute="app-home__clients"
  leftClasses="slide-from-bottom invisible"
  leftId="clients-left"
  rightClasses="slide-from-bottom invisible"
  rightId="clients-right"
>
  <app-article-left>
    <app-secondary-heading> Big Clients </app-secondary-heading>
    <app-secondary-paragraph>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incid idunt ut labore et dolore magna aliqua.
    </app-secondary-paragraph>
  </app-article-left>
  <app-article-right>
    <app-icon-card
      *ngFor="let card of cards"
      [icon]="card.icon"
      [alt]="card.alt"
      [name]="card.name"
      [bgColor]="card.bgColor"
    ></app-icon-card>
    <div class="clients__achievements">
      <app-incremental-card
        *ngFor="let achievement of achievements"
        [text]="achievement.text"
        [number]="achievement.number"
        [isThousands]="achievement.isThousands"
      ></app-incremental-card>
    </div>
  </app-article-right>
</app-article>
